// .cards{
//   display: grid;
//   background-color: transparent;
//   grid-template-columns: repeat(4,3fr);
//   gap: 20px;

// }

.heading{
font-size: 150px;
color: rgb(0, 0, 82);
}
.subheading{
  font-size: 70px ;
  color: rgb(0, 0, 82);
  padding-bottom: 100px;
}

.cards{
  text-transform: capitalize;
  h1{
    color: rgb(0, 0, 82); ;
      }
  img{
    object-fit: cover;
    height: 50px;
    width: 50px;
  }
}
.head-pic{
  gap: 30px;
  display: flex;
}
