<body>
  <!-- <nav class="nav-bar">
      <p>Chriswin Lingson</p>
      <div class="nav-options">
          <a href="#home-page">Home</a>
          <a href="#edu-page">Education</a>
          <a href="#exper-page">Experience</a>
          <a href="#pro-page">Projects</a>
          <a href="#cont-page">Contact</a>
      </div>

  </nav> -->
  <section class="Main">
      <section class="front-page" id="home-page">
          <div class="home-left">
              <div class="introduction">
                  <h5 class="hai">Hai, I'm</h5>
                  <h2>Chriswin Lingson</h2><br>
                  <h3>Associate Software Developer</h3>
                  <p class="about">I Balance my technical career with creative pursuits, always seeking new experiences and adventures</p>
              </div>
              <div class="intro-social-links">
                  <a href=""><img src="images/linkedin-brands-solid.svg" alt="linkedin"></a>
                  <a href=""><img src="images/github-brands-solid.svg" alt="github"></a>
                  <a href=""><img src="images/twitter-brands-solid.svg" alt="twitter"></a>
                  <a href=""><img src="images/instagram-brands-solid (1).svg" alt="instagram"></a>
              </div>
          </div>
          <div class="profile-picture">
              <img src="images/P5398 copy.jpg" alt="profile-pic">
          </div>
      </section>
      <section class="education" id="edu-page">
              <h2>Education</h2>
                  <div class="edu-content">
                      <div class="edu-image">
                          <img src="images/2471838-removebg-preview.png" alt="edu-sample0img">
                      </div>
                      <ul class="edu-details">
                          <li>
                              <h4 id="year-tog"> <span id="year-but" class="button">2016-2017</span></h4>
                              <p id="details" class="data">Completed 10th grade from Bharatiya Vidya Bhavans Vidya Mandir, Poochatty, Thrissur</p>
                          </li>
                          <li>
                              <h4 id="year">2017-2019</h4>
                              <p class="descrip">Completed High School from Bharatiya Vidya Bhavans Vidya Mandir, Poochatty, Thrissur</p>
                          </li>
                          <li>
                              <h4>2019-2023</h4>
                              <p>Completed Bachelors In Technology in Electronics and Communication Engineering  from Jyothi Engineering College, Cheruthuruthi</p>
                          </li>
                      </ul>
                  </div>


      </section>
      <section class="experience" id="exper-page">
          <h2>Experience</h2>
              <div class="exp-details">
                  <div class="exp-pic">
                      <img src="images/18771-removebg-preview.png" alt="exp-sample-details">
                  </div>
                  <ul class="experience-details">
                      <li>
                          <h4>15 Oct 2022 - 21 Jul 2023</h4>
                          <p>Chairman of Electronics and Communication Students Association(ECSA), Jyothi Engineering College, Cheruthuruthi</p>
                      </li>
                      <li>
                          <h4>26 Dec 2021 - 10 Jan 2022</h4>
                          <p>Intern - Torch Infotech, Eddappaly, Ernakulam</p>
                      </li>
                      <li>
                          <h4>7 Dec 2022 - 9 Dec 2022</h4>
                          <p>Intern - Tata Technologies Limited,Hinjanwadi, Pune</p>
                      </li>
                      <li>
                          <h4>9 Sep 2024 - present</h4>
                          <p>Associate Software Developer, Experion Technologies, Trivandrum</p>
                      </li>
                  </ul>
              </div>

      </section>
      <section class="projects" id="pro-page">
          <h1>Projects</h1>
      <div class="projects-container">
          <div class="project-card">
              <img src="images/smartglass.jpg" alt="Smart-Glass-pic" class="project-image">
              <p class="project-date"><i>15 May 2022 – 31 July 2022</i></p>
              <h3>Smart Glass for Visually impaired people</h3>
              <p><b>Role</b>: Team Leader, Programmer, Hardware Assembler.</p>
              <p><b>Software's Used</b>: Raspbian, Tensorflow, Google Colab, YOLO.</p>
              <p><b>Hardware's Used</b>: Raspberry Pi 3B+, Pi Cam, Ultrasonic Sensor.</p>
          </div>

          <div class="project-card">
              <img src="images/smartfarming.jpg" alt="farming-pic" class="project-image">
              <p class="project-date"><i>1 Nov 2022 – 19 June 2023</i></p>
              <h3>IOT and Machine Learning based precision farming</h3>
              <p><b>Role</b>: Team Leader, Programmer, Hardware Assembler.</p>
              <p><b>Software's Used</b>: Python, Arduino IDE.</p>
              <p><b>Hardware's Used</b>: Arduino MKR Wi-Fi 1010 module, Various sensors.</p>
          </div>
      </div>
      </section>
      <section class="contact" id="cont-page">

          <div class="cont-left">
              <h2>Contact</h2>
              <div class="cont-name-details">
                  <p><img src="images/envelope.svg" alt="email"> chriswin.lingson</p>
                  <p><img src="images/phone-solid.svg" alt="phone"> +91 75608 85982</p>
              </div>

              <div class="cont-soc-icons">
                  <a href="#"><img src="images/linkedin-brands-solid.svg" alt="linkedin"></a>
                  <a href="#"><img src="images/github-brands-solid.svg" alt="github"></a>
                  <a href="#"><img src="images/twitter-brands-solid.svg" alt="twitter"></a>
                  <a href="#"><img src="images/instagram-brands-solid (1).svg" alt="instagram"></a>
              </div>
          </div>

          <div class="response">
              <h4>Send me any queries</h4>
              <form action="#">
                  <input type="name" placeholder="Your Name" required>
                  <input type="email" placeholder="Your Email ID" required>
                  <textarea name="" id="" cols="35" rows="10" placeholder="Your Queries" required></textarea>
                  <button type="submit">Submit</button>
              </form>
          </div>
      </section>
  </section>
</body>
